#header {
	color: pink;
	text-align: center:
}
.background {
     background: url
     <img src="red x"><img>; 
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 10% 10%, auto;
  
}